<h1><font color='green'>My Machine Inventory:</font></h1>
<h2>HOST: <%= @hostname  %></h2>
<h2>Private IP: <%= @ip_address %></h2>
<h2>MEMORY: <%= @memory %></h2>
<h3>Name: <%= @name %></h3>
<img src='myimage.png'>
